CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
cmake-build-debug/
cmake-build-release/
libcixl.obj
libcixl-dos16.lib
.cmake/api/v1/query/toolchains-v1
.cmake/
src/editor/.idea/editor.iml
src/editor/.idea/
src/editor/elm-stuff/
cmake-build-debug-visual-studio-2022/
src/drawtex/elm-stuff/
